{% extends '_Master.html' %} 
{% load static %}
{% load humanize %}
{% load mathfilters %}
        
{% block main_content %}        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">{{ subcategory_name }}</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        {{ subcategory_name }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-search">
                                                <input type="email" value="Search">
                                                <button><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-price-range">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                                    <div class="dropdown-menu dropdown-menu-right" name="gia">
                                                        <a href="#" class="dropdown-item" value="0-500000" {% if price == "0-500000" %}selected{% endif %}>0 - 500.000</a>
                                                        <a href="#" class="dropdown-item" value="500000-1000000" {% if price == "500000-1000000" %}selected{% endif %}>500.000 - 1.000.000</a>
                                                        <a href="#" class="dropdown-item" value="1000000-" {% if price == "1000000-" %}selected{% endif %}>1.000.000 trở lên</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% for product in products_pager %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title" style="height: 110px;">
                                        <a href="{% url 'app_store:san_pham' product.pk %}">{{ product.name }}</a>
                                    </div>
                                    <div class="product-image">
                                        <!-- <a href="product-detail.html">-->
                                            <a href="{% url 'app_store:san_pham' product.pk %}">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <div class="product-price">
                                        <form method="post" action="{% url 'app_cart:mua_ngay' product.pk %}">
                                            {% csrf_token %}
                                        <h3>{{ product.price|floatformat:0|intcomma }}<span>VND</span></h3>
                                        <button class="btn" type="submit"><i class="fa fa-shopping-cart"></i>Buy Now</button>
                                        <input type="hidden" value="1" name="quantity" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        
                        <!-- Pagination Start -->
                        {% if products_pager.paginator.num_pages > 1 %}
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products_pager }}">First</a>
                                    </li>
                                        {% if products_pager.has_previous %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ products_pager.previous_page_number }}" tabindex="-1">Previous</a></li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a></li>
                                        {% endif %}
                                        {% if products_pager.number > 5 %}
                                        <li class="page-item">
                                            <a class="page-link" href="#">...</a>
                                        </li>
                                        {% endif %}
                                    {% for i in products_pager.paginator.page_range %}
                                    {% if i < products_pager.number|add:5 %}
                                    {% if i > products_pager.number|sub:5 %}
                                    {% if products_pager.number == i %}
                                    <li class="page-item active">
                                        <!--<a class="page-link" href="?page={{ i }}">{{ i }}</a>-->
                                        <a class="page-link" href="?tukhoa={{ keyword }}&page={{ i }}">{{ i }}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <!--<a class="page-link" href="?page={{ i }}">{{ i }}</a>-->
                                        <!-- <a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a> -->
                                        <a class="page-link" href="?tukhoa={{ keyword }}&page={{ i }}">{{ i }}</a>
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if products_pager.number < products_pager.paginator.num_pages|sub:4 %}
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    {% endif %}
                                        {% if products_pager.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ products_pager.next_page_number }}">Next</a></li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">Next</a></li>
                                        {% endif %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products_pager.paginator.num_pages }}">Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% endif %}
                        <!-- Pagination Start -->
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Category</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">

                                    {% for subcategory in subcategories %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'app_store:danh_muc' subcategory.pk %}">
                                            <i class="fa fa-shopping-bag"></i>{{ subcategory.name }}</a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">Product Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="img/product-10.jpg" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">Product Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="img/product-9.jpg" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">Product Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="img/product-8.jpg" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sidebar-widget brands">
                            <h2 class="title">Our Brands</h2>
                            <ul>
                                <li><a href="#">Nulla </a><span>(45)</span></li>
                                <li><a href="#">Curabitur </a><span>(34)</span></li>
                                <li><a href="#">Nunc </a><span>(67)</span></li>
                                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                                <li><a href="#">Fusce </a><span>(89)</span></li>
                                <li><a href="#">Sagittis</a><span>(28)</span></li>
                            </ul>
                        </div>
                        
                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Vivamus</a>
                            <a href="#">Phasellus</a>
                            <a href="#">pulvinar</a>
                            <a href="#">Curabitur</a>
                            <a href="#">Fusce</a>
                            <a href="#">Sem quis</a>
                            <a href="#">Mollis metus</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Vel posuere</a>
                            <a href="#">orci luctus</a>
                            <a href="#">Nam lorem</a>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
                    <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
        {% endblock %}