{% extends '_Master2.html' %} {% block main_content %}

<form method="post">
  {% csrf_token %}
  <div class="mt-5">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label"></label>
      <div class="col-md-10">
        <button
          type="submit"
          class="btn btn-primary"
          name="btnDangNhap"
          value="Đăng nhập"
        >
          Đăng nhập
        </button>
        <button
          type="submit"
          class="btn btn-danger"
          name="btnHuyDangNhap"
          value="Hủy đăng nhập"
        >
          Hủy bỏ
        </button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
